# Android
*.apk
*.ap_
*.dex
bin/
gen/
.gradle/
local.properties
proguard/
*.log
.navigation/
captures/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Build outputs
build/
.gradle/
app/build/